# Ignore git related directories

.git
.github
.githooks
.cache
.gitignore
.infra
.vscode

# dotenv environment variables file

.env
.env.test

# Typescript related directories

node_modules
dist
.dbdata
.husky
test

# Misc

deploy \*_/_.md
.eslintrc.js
.nvmrc
.prettierrc.js
Dockerfile
.scannerwork

dist
generated
node_modules

# Logs

logs
\*.log
