//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@Lattice-Trade:registry=https://npm.pkg.github.com/
# Force npm to run node-gyp also as root, preventing permission denied errors in AWS with npm@5
unsafe-perm=true
